<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>RSS详情</title>
</head>
<body>
    <div class="container">
        <h1>{{ rss_title }}</h1>
        <ul id="article-list" class="list-group">
            {% for article in articles %}
            <li class="list-group-item">
                <a href="{{ article.link }}">{{ article.title }}</a> ({{ article.updated }})
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>